@page
@model UdemyASP.NETCOREIdenity.Pages.HRManager.HRManagerModel
@{
}

<table class="table table-bordered table-stripped">  
    <thead>
        <tr>
            <td>Date</td>
            <td>Temp C</td>
            <td>Temp F</td>
            <td>Summary</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.WeatherForecasts)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.TemperatureC</td>
                <td>@item.TemperatureF</td>
                <td>@item.Summary</td>
            </tr>
        }
    </tbody>
</table>